.navbar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  padding: .5rem;
  background-color: white;
  box-shadow: $box-shadow;

  .menu {
    img {
      width: 5rem;
    }

    a {
      color: $base !important;
    }
  }
}