# dependencies
config
node_modules

# React build
build

# React scripts
scripts

# React generate
dist
package-lock.json


sdet_test
web-sdk.js

# SDET
sdet/src/support
sdet/reports
sdet/reporters
Jenkinsfile
