.home {
  .list {
    @include list-container;

    .spinner-container {
      text-align: center;
    }

    .item {
      @include list-container-item;

      .name {
        margin-bottom: .25rem;
        text-transform: capitalize;
      }

      .status {
        text-align: right;
        font-size: .875rem;
      }

      &:hover, &:focus {
        background-color: $accent-2;
        color: $base;
      }

    }
  }

  .extra {
    @include flex-center;

    .prev, .next {
      @include flex-center;
      border: none;
      margin: 0 1rem;
      padding: .75rem 2rem;
      background-color: $accent-1;

      &:disabled {
        background-color: rgba(16, 16, 16, 0.3);
      }
    }
  }
}