.mypoke {

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 2rem;
  
    .item {
      cursor: pointer;
      border: 1px solid $accent-2;
      border-radius: .25rem;
      padding: .5rem;
  
      p {
        margin: 0;
      }
  
      .nickname {
        margin-bottom: .25rem;
        text-transform: capitalize;
      }
  
      .name {
        text-align: right;
        font-size: .875rem;
        text-transform: capitalize;
      }
  
      &:hover, &:focus {
        background-color: $accent-2;
        color: $base;
      }
  
    }
  }
}