@import './variables';
@import './mixins';

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 35rem;
}

a {
  color: $accent-1;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5 ,h6 {
  margin: 0;
}

button {
  &:focus {
    outline: none;
  }
}

.app {
  position: relative;
  font-weight: 200;
  color: $accent-1;
  background-color: $base;
}

.page {
  padding: 1rem;
  min-height: calc(100vh - 52px);

  &>.title {
    margin-bottom: 1.5rem;
  }
}

.alert {
  text-align: center;
  border: 1px solid $accent-2;
  background-color: $accent-1;
  border-radius: .25rem;
  padding: .5rem 2rem;
  color: $base;
}

@import './components/index.scss';
@import './containers/index.scss';